.searchBar{
    display: flex;
    align-items: center;
    background-color:#dee7ee;
    padding:10px;
    border-radius: 20px;
    margin-top:10px;
    margin-left:-15px;
    width: 405px;
    height:30px;
    
}

.searchBar>input{  
    border:none;
    background-color:#dee7ee;
}

input[type="text"] {
    font-size:25px;
}

textarea:focus, input:focus{
    outline: none;
}

